<div class="home-header">
  <div class="header-content">
  <h1 id="main-title">Redium</h1>
  <p class="copy">
    Big ideas, bigger stories.
  </p>
  <a href="/users/new" class="btn btn-primary">Sign up</a> <% 3.times do %> &nbsp <% end %>
  <a href="/articles/new" class="btn btn-primary">Start writing</a>
  </div>
</div>
