<h1>Writing <span id="article-title">a New Article</span></h1>

<form action="/articles/new" method="POST">
  <input type="text" name="title" id='form-title' onchange='updateText()'><br>
  <textarea name="content" rows='10'></textarea>

  <p>
      <input type="submit" value="Sign up">
  </p>
</form>
