<h1>Sign up for Articly</h1>

<form action="/users/new" method="POST">
  <input type="email" name="email"><br>
  <input type="text" name="name"><br>
  <input type="password" name="password"><br>

  <p>
      <input type="submit" value="Sign up">
  </p>
</form>
